@media only screen and (max-width: 1265px){
    .main-image{
        position: inherit;
    }
}
@media only screen and (max-width: 1080px){
    .container{
        padding: 0 15px;
    }
}
@media only screen and (max-width: 950px){
    .main-banner .text h1{
        font-size: 50px;
        margin-bottom: 35px;
    }
    .main-banner .text p,
    .interviews-description h4{
        font-size: 20px;
    }
    .main-banner .text a,
    .interviews-description a{
        font-size: 15px;
    }
    .best-sellers .text{
        padding-bottom: 0;
    }
    .best-sellers .text h2,
    .best-sellers h3,
    .description-text h4,
    .description-text p,
    .features h4,
    .features h5,
    .form h3{
        font-size: 32px;
    }
    .best-sellers .text .description p,
    .interviews-description p{
        font-size: 18px;
    }
    .features .items-description .item{
        font-size: 25px;
    }
}
@media only screen and (max-width: 900px){
    .description-1 .container,
    .description-2 .container{
        flex-direction: column;
    }
    .description-1 .image{
        margin-right: 0;
        order: 2;
    }
    .description-1 .description-text{
        order: 1;
    }
    .description-2 .image{
        margin-left: 0;
    }
    .description-1 .description-text,
    .description-2 .description-text{
        text-align: center;
        margin-bottom: 30px;
        max-width: 770px;
    }
    .hidden-1{
        display: none;
    }
    .interviews .container{
        justify-content: space-around;
    }
}
@media only screen and (max-width: 800px){
    .main-banner .container{
        flex-direction: column;
        text-align: center;
    }
    .text{
        margin-bottom: 10px;
    }
    .main-banner .text h1{
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 30px;
    }
    .main-banner .text p,
    .interviews-description h4{
        font-size: 18px;
    }
    .main-banner .text a,
    .interviews-description a{
        font-size: 13px;
    }
    .best-sellers .text h2,
    .best-sellers h3,
    .description-text h4,
    .description-text p,
    .features h4,
    .features h5,
    .form h3{
        font-size: 28px;
    }
    .best-sellers .text .description p,
    .interviews-description p{
        font-size: 16px;
    }
    .features .items-description .item{
        font-size: 22px;
        width: 50%;
    }
}
@media only screen and (max-width: 600px){
    .hidden-2{
    display: none;
    }
    footer .container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .icons{
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 500px){
    .features .items-description .item{
        width: 100%;
    }
}
@media only screen and (max-width: 450px){
    .description-text h4,
    .description-text p{
        font-size: 25px;
    }
    .footer-items{
        display: block;
    }
    .footer-items ul:first-child{
        margin-right: 0;
        margin-bottom: 60px;
    }
}