*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.d-flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
/* HEADER */
header{
    padding: 16px 0 15px;
    position: relative;
}
.container{
    max-width: 1064px;
    margin: auto;
}
header .logo{
    position: absolute;
    left: calc(50% - 40px);
}
header nav ul,
header .items{
    list-style: none;
}
header nav ul li{
    margin-right: 28px;
}
header nav ul li a{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    text-decoration: none;
}
header .items li{
    margin-left: 7px;
    position: relative;
    height: 21px;
    width: 21px;
}
header .items li:nth-child(2){
    margin-left: 15px;
    height: 40px;
    width: 40px;
}
header .items li:nth-child(3){
    height: 42px;
    width: 36px;
}
/* MAIN */
.main-banner{
    padding-top: 9px;
    padding-bottom: 24px;
    background-color: #F0EFEB;
}
.main-banner .container{
    max-width: 1088px;
    margin: auto;
}
.text{
    min-width: 534px;
}
.main-banner .text h1{
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px;
}
.main-banner .text p{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px;
}
.main-banner .text a{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 8px 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.main-image{
    max-width: 599px;
    position: relative;
    right: -65px;
}